@media all and (max-width: 1670px) {
    .section-4__content-title {
        font-size: 70px;
    }

    .section-4__block-wrap p {
        font-size: 17px;
    }

    .section-4__content-text p {
        font-size: 20px;
    }

    .section-5__gallery-block__items {
        height: 360px;
    }

    .section-5__gallery-block__item img {
        width: 425px;
        height: auto;
    }

    .gallery-block__item-2 img {
        width: 597px;
        left: -69px;
    }

    .gallery-block__item-3 img {
        width: 563px;
        left: -88px;
    }

    .section-6__video-center {
        padding: 39px;
    }

    .section-6__video-wrap iframe {
        height: 270px;
    }

    .section-6__video-wrap-1 {
        left: 3px;
        top: 4px;
    }

    .section-6__video-wrap-3 {
        left: -4px;
        top: 4px;
    }
}

@media all and (max-width: 1460px) {
    .section-3__block-content__logo img {
        width: 270px;
    }

    .section-3__block-content__logo-text {
        font-size: 33px;
    }

    .section-3__block-content__logo-text-2 {
        font-size: 64px;
    }

    .section-4__content-title {
        font-size: 57px;
    }

    .section-4__content-text p {
        font-size: 17px !important;
    }

    .section-4__block-wrap p {
        font-size: 15px;
    }

    .section-5__gallery-block__items {
        height: 310px;
    }

    .section-5__gallery-block__item img {
        width: 355px;
        height: auto;
    }

    .gallery-block__item-2 img {
        width: 530px;
        left: -69px;
    }

    .gallery-block__item-3 img {
        width: 473px;
        left: -88px;
    }

    .gallery-block__item-6 img {
        left: -45px;
    }

    .gallery-block__item-7 img {
        left: -45px;
    }

    .section-6__video-wrap iframe {
        height: 230px;
    }

    .section-6__video-wrap-1 {
        left: 3px;
        top: -2px;
    }

    .section-6__video-wrap-2 {
        left: 0px;
        top: -2px;
    }

    .section-6__video-wrap-3 {
        left: 1px;
        top: -2px;
    }

    .section-10__block-ready {
        font-size: 105px;
    }

    .section-10__block-social__wrap img {
        width: 190px;
    }

    .section-10__block-social a img {
        width: 75px;
    }

    .section-10__block-social {
        font-size: 25px;
    }
}

@media all and (max-width: 1370px) {

    .age-gate__block {
        height: 100vh;
        max-height: 100vh;
    }

    .wellcome-block__title-text {
        font-size: 70px;
    }

    .wellcome-block__title-logo img {
        width: 150px;
    }

    .wellcome-block {
        padding-top: 54px;
        padding-bottom: 0px;
    }

    .section-4__content-title {
        font-size: 60px;
    }

    .section-4__block-wrap p {
        font-size: 17px;
    }

    .section-4__block-wrap p {
        font-size: 15px !important;
    }

    .section-5__gallery-block__item img {
        width: 142%;
        height: auto;
        position: relative;
    }

    .section-5__gallery-block__items {
        height: 275px;
    }

    .gallery-block__item-2 img {
        width: 200%;
        left: -100px;
    }

    .gallery-block__item-8 img {
        width: 250px;
    }

    .gallery-block__item-3 img {
        width: 438px;
        left: -68px;
    }

    .gallery-block__item-5 img {
        left: 34px;
    }

    .section-6__video-center {
        padding: 35px;
    }

    .section-6__video-wrap {
        width: 33.33%;
        padding: 10px;
    }

    .section-6__video-wrap iframe {
        height: 215px;
    }

    .section-6__gallery-block__item {
        width: 33.3%;
    }

    .gallery-block__item-2 img {
        width: 460px;
        left: -92px;
    }

    .gallery-block__item-3 img {
        width: 473px;
        left: -43px;
    }

    .section-6__video-wrap-1 {
        left: 0px;
        top: -2px;
    }

    .section-6__video-wrap-3 {
        left: -2px;
        top: -2px;
    }

    .section-8__block-text {
        font-size: 23px;
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .section-10__block-ready {
        font-size: 94px;
    }
}

@media all and (max-width: 1250px) {
    .section-3__block-content__logo img {
        width: 200px;
    }

    .section-3__block-content__logo-text {
        font-size: 21px;
    }

    .section-3__block-content__logo-text-2 {
        font-size: 48px;
    }

    .section-4__content-title {
        font-size: 40px;
    }

    .section-4__content-text p {
        font-size: 11px !important;
    }

    .section-4__block-wrap p {
        font-size: 10px !important;
    }

    .section-5__gallery-block__items {
        height: 200px;
    }

    .gallery-block__item-2 img {
        width: 351px;
        left: -92px;
    }

    .gallery-block__item-3 img {
        width: 352px;
        left: -83px;
    }

    .gallery-block__item-5 img {
        left: 0px;
    }

    .section-6__gallery-block__item img {
        width: 110%;
    }

    .section-6__gallery-block__item:nth-child(2) img {
        width: 123%;
    }

    .section-6__gallery-block__item:last-child img {
        width: 98%;
    }

    .section-6__video-center {
        padding: 23px;
    }

    .section-6__video-wrap iframe {
        height: 156px;
    }

    .section-6__video-wrap-1 {
        left: -2px;
        top: 2px;
    }

    .section-6__video-wrap-2 {
        left: -15px;
        top: 2px;
    }

    .section-6__video-wrap-3 {
        left: -29px;
        top: 2px;
    }

    .section-7__block-top__text {
        font-size: 27px;
    }

    .section-7__block-center__count #t {
        font-size: 27px !important;
    }

    .section-8__block-text {
        font-size: 18px;
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .section-10__block-ready {
        font-size: 66px;
    }

    .section-10__block-social__wrap img {
        width: 150px;
    }

    .section-10__block-social a img {
        width: 50px;
    }

    .section-10__block-social {
        font-size: 18px;
    }

    .wellcome-block__title-text {
        font-size: 45px;
    }

    .wellcome-block__title-logo img {
        width: 110px;
    }

    .wellcome-block__title-description {
        padding-top: 30px;
        font-size: 36px;
    }

    .wellcome-block__date-item {
        padding-left: 20px;
        padding-right: 20px;
    }

    .wellcome-block__date-item__input input {
        font-size: 27px;
    }

    .wellcome-block__date-item__text {
        font-size: 27px;
    }

    .wellcome-block__date-item__input {
        width: 168px;
        height: 106px;
        background-size: contain;
    }

    .wellcome-block__date-acces__btn {
        font-size: 27px;
    }

    .wellcome-block__date-acces__btn {
        font-size: 27px;
        width: 410px;
        height: 108px;
        background-size: contain;
    }

    .wellcome-block__date-acces {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .wellcome-block__date-items {
        padding-top: 20px;
    }

    .wellcome-block__attention-text {
        font-size: 17px;
    }

    .section-4 {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .section-5, .section-6 {
        padding: 20px;
    }
}

@media all and (max-width: 770px) {
    .desck-top-img {
        display: none;
    }
    .mob-top-img {
        display: block;
    }
    .section-3__block-content__logo {
        padding-left: 0px;
        width: 100%;
        padding-top: 145px;
    }

    .section-3__block-content__logo-text {
        font-size: 26px;
    }

    .section-3__block-content__logo-row {
        text-align: center;
        margin-top: 5%;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .section-3__block-content__logo-text-2 {
        font-size: 60px;
        width: 100%;
        padding-right: 0;
        padding-top: 45px;
    }

    .section-3__bottom-text {
        padding-left: 15px;
        padding-right: 16px;
        padding-bottom: 16px;
        padding-top: 15px;
    }

    .section-3__block-wrap img {
        width: auto;
        height: auto;
        max-width: 118%;
    }

    .section-3__block-content__logo img {
        width: 230px;
    }

    .section-3__block-wrap .section-3__bottom-text {
        position: absolute;
    }
    .section-3__bottom-text {
        display: none;
    }

    .section-3__bottom-text.bottom-tetx-mob {
        display: block;
    }

    .bottom-tetx-mob img {
        width: 100%;
        max-width: 100%;
        display: block;
    }
    .bottom-tetx-mob img {
        height: 70px;
    }
    .section-4 {
        display: none !important;
    }
    .section-4.section-mob {
        display: block !important;
    }
    .section-4__content-item-1 {
        width: 100%;
    }
    .section-4__content-item-3 {
        width: 100%;
    }
    .section-4__content-item-2 {
        width: 100%;
    }
    .section-4__content-title {
        font-size: 90px;
    }
    .section-4__block-wrap p {
        font-size: 25px !important;
    }
    .section-4__block-wrap p.bold-text {
        font-weight: bold;
        font-family: 'jj bd';
        font-size: 30px!important;
    }
    .section-4__block-wrap .section-3__bottom-text.bottom-tetx-mob {
        position: relative;
    }
    .logo-lit-container {
        background: url("../img/section-4-bg-litl.jpg") no-repeat;
        background-size: cover;
        height: 142px;
        width: 300px;
        margin-bottom: 30px;
    }
    .logo-lit-container .section-3__block-content__logo {
        padding-top: 0px;
        text-align: center;
    }

    .section.section-block.section-4.section-mob .wellcome-block__title-logo {
        margin-bottom: 30px;
    }

}

@media all and (max-width: 470px) {
    .wellcome-block__title-text {
        font-size: 36px;
    }

    .wellcome-block__title-description {
        padding-top: 30px;
        font-size: inherit;
    }

    block__title-logo img {
        width: 85px;
    }

    .wellcome-block__date-items {
        padding-top: 25px;
        flex-wrap: wrap;
    }

    .wellcome-block__date-item__input {
        width: 85px;
        height: 59px;
        background: url(../img/input-date-bg.png) no-repeat;
        background-size: contain;
    }

    .wellcome-block__date-item {
        padding-left: 10px;
        padding-right: 10px;
        width: 33.33%;
    }

    .wellcome-block__date-item__input input {
        font-size: 21px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .wellcome-block__date-item__text {
        font-size: 20px;
    }

    .wellcome-block__date-acces__btn {
        font-size: 25px;
        font-family: "jj bd";
        width: 260px;
        height: 69px;
        background-size: contain;
        cursor: pointer;
    }

    .wellcome-block__attention-text {
        font-size: 12px;
    }



    .wellcome-block__title-text.section__2 {
        font-size: 35px;
    }

    .wellcome-block__title-logo img {
        width: 86px;
    }

    .afisha-title__text {
        font-size: 51px;
    }

    .wellcome-block__afisha-title {
        margin-top: 87px;
        margin-bottom: 69px;
    }

    .wellcome-block__attention-text__news, .wellcome-block__attention-link {
        font-size: 13px;
    }

    .wellcome-block__attention-link {
        margin-top: 10px;
    }

    .bottom-tetx-mob img {
        height: 50px;
    }

    .section-4__content-wrap {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .section-4__content-item {
        padding-left: 0px;
        padding-right: 0px;
    }

    .section-4__content-item-1 {
        width: 100%;
    }

    .section-4__content-item-2 {
        width: 100%;
    }

    .section-4__content-item-3 {
        width: 100%;
    }

    .section-4 {
        padding-top: 63px;
        padding-bottom: 50px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .section-4__block-wrap .section-3__bottom-text.bottom-tetx-mob {
        position: static;
    }

    .section-5 {
        display: none !important;
    }

    .section-5__bottom-text {
        display: none;
    }

    .section-9__block-wrap img {
        width: 100%;
        max-width: 100%;
    }

    .section-6__gallery-block {
        display: none;
    }

    .section-8__block-text {
        font-size: 16px;
    }

    .section-7__block-top__text {
        font-size: 27px;
    }

    .section-5, .section-6 {
        padding: 25px;
    }

    .section-3__bottom-text {
        position: static;
    }

    .section-6__video-center {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .section-6__video-wrap {
        width: 100%;
        padding: 10px;
    }

    .section-7__block-wrap {
        padding: 15px;
    }

    .section-7__block-top__text {
        margin-bottom: 15px;
    }
}